.nav{
    background: #d3d3d6;
    padding: 2vh 10vw;
}

.navbarItem{
    position: relative;
}

.logo{
    font-style: normal;
    font-weight: 580;
    font-size: 18px;
    line-height: 21px;
    color: #3260A1;
}

.addPost{
    font-style: normal;
    font-weight: 380;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background: #67dfff;
    box-shadow: 0px 10px 26px rgba(140, 174, 213, 0.15);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);
    padding: 5px;

}